.contact {
  padding: 120px 80px;
  text-align: center;
}

.contact h2 {
  color: #22c55e;
  margin-bottom: 30px;
}

.contact-box {
  background: rgba(0, 0, 0, 0.5);
  padding: 40px;
  border-radius: 20px;
  border: 1px solid rgba(34, 197, 94, 0.2);
  display: inline-block;
}

.contact-box p {
  margin: 10px 0;
  color: #cbd5e1;
}

.contact-box:hover {
  box-shadow: 0 0 20px rgba(34, 197, 94, 0.4);
}
