.hero {
  padding: 180px 20px 120px;
  text-align: center;
}

.hero h1 {
  font-size: 60px;
}

.hero span {
  color: #22c55e;
}

.hero p {
  margin-top: 20px;
  color: #94a3b8;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.hero-buttons {
  margin-top: 40px;
}

.hero-buttons button {
  padding: 12px 28px;
  margin: 0 10px;
  border-radius: 30px;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.primary-btn {
  background: #22c55e;
  color: black;
}

.primary-btn:hover {
  box-shadow: 0 0 20px #22c55e;
}
