.navbar {
  position: fixed;
  width: 100%;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(12px);
  z-index: 1000;
}

.nav-logo {
  color: #22c55e;
  font-size: 22px;
  font-weight: bold;
}

.nav-links a {
  margin: 0 15px;
  text-decoration: none;
  color: #cbd5e1;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #22c55e;
}

.resume-btn {
  background: #22c55e;
  color: black;
  padding: 8px 18px;
  border-radius: 25px;
  font-weight: 600;
  transition: 0.3s;
}

.resume-btn:hover {
  box-shadow: 0 0 15px #22c55e;
}
